@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Ubuntu:ital,wght@1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: inherit; 
  min-height: inherit; 
  margin: 0; 
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* NavBar */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 90%;
  margin: 0 20px;
}

.navbar .links {
  margin: 0 10px;
  display: flex;
}

.navbar a {
  color: #a19ea1;
  text-decoration: none;
  transition: all 0.5s;
}

.navbar a:hover {
  color: #c99968;
}


/* Home */

.team {
  width: 100%;
}

.team-banner {
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
}

.team-banner h1 {
  color: #c99968;
  margin: 0px;
  margin-top: 15px;
  font-weight: 300;
  text-align: center;
}

.team-banner h4 {
  color: #a19ea1;
  margin: 10px;
  margin-bottom: 25px;
  font-weight: 300;
}

.home-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  color: #c99968;
  font-size: 36px;
  font-weight: 300;
}

.welcome p {
  text-align: center;
  margin: 0px;
}

button {
  margin: 25px 10px;
  padding: 10px;
  border: solid 2px #c99968;
  background-color: white;
  color: #c99968;
  cursor: pointer;
}

button:hover {
  background-color: #c99968;
  color: white;
  transition: 0.5s;
}

.about {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h2 {
  color: #c99968;
  font-weight: 300;
}

.welcome p {
  text-align: center;
  margin: 0px;
}

.home-info {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.home-info section {
  max-width: 320px;
  width: 100%;
  padding: 20px;
}

.home-info h4 {
  text-align: center;
  color: #a19ea1;
  font-weight: 300;
}

.home-info p {
  text-align: center;
}

/* Our Leadership */

.our-leadership {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-leadership h1 {
  color: #c99968;
  font-weight: 300;
}

.our-leadership section {
  margin: 20px;
  display: flex;
  align-items: center;
}

.our-leadership img {
  max-width: 400px;
  width: 100%;
}

.leader-header {
  display: flex;
}

.leader-name {
  color: #c99968;
  font-weight: 300;
}

.leader-title {
  color: #a19ea1;
  font-weight: 300;
  margin-left: 10px;
}

.leadership-info {
  margin-left: 20px;
}

/* Services */

.services {
  margin-bottom: 40px;
}

.services h1 {
  color: #c99968;
  font-weight: 300;
}

.services h3 {
  color: #a19ea1;
  font-weight: 300;
}

.services section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-items {
  max-width: 280px;
  width: 100%;
}

/* Footer */

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  color: white;
}

.footer h5 {
  font-weight: 300;
}

.footer-info {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer .links {
  display: flex;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.footer a:hover {
  color: #c99968;
}



@media only screen and (max-width: 750px){
  /* Home */

  .home-info {
    flex-direction: column;
  }

  .home-info section {
    max-width: 720px;
  }

  /* Our Leadership */

	.our-leadership section {
    flex-direction: column;
  }

  .leadership-info {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leadership-info p {
    text-align: center;
  }

  /* Footer */

  .footer {
    height: 150px;
  }

  .footer h5 {
    text-align: center;
  }

  .footer-info {
    flex-direction: column;
  }

  .footer .links {
    margin-bottom: 20px;
    flex-direction: column;
  }

}